#block-container{
    margin-top: 4em;

}
// Grid block
.work-blocks {
    position: relative;
    height:20em;
    max-width: 24em;
    margin-bottom: 3em;

}
// Grid images
.work-img{
    height:20em;
    width: 30em;
    object-fit: cover;
    object-position: top center;

}
#portfolio-img{
    object-position: top left;
}
// Text appears on hover
.work-hidden-p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding-top: 6em;
  background:rgba(255, 254, 252, 0.8);
  color: #605A4D;
  font-size: 1.5em;
  visibility: hidden;
  opacity: 0;
  transition: ease-in 200ms;
  -webkit-transition: visibility opacity 200ms;
  text-align: center;

}

// Grid block hover
.work-blocks:hover .work-hidden-p {
  visibility: visible;
  opacity: 1;
}

// Medium Screen
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #block-container{
        margin-left: 2em;

    }
}

// Small Screen
@media screen and (max-width: 39.9375em)  {
    #block-container{
        margin-top: 4em;
        margin-left: 1em;
        margin-right: 1em;
    }
}
