// Portfolio img and blurb container
.portfolio-sect{
    margin-bottom: 4em;
}
// Portfolio img
.portfolio-img{

}
// Protfoliop Blurb
.portfolio-p{
    text-align: center;
    margin-bottom: 4em;
}
